*{
  margin: 0;
  padding: 0;
}

.container {
  background: linear-gradient(to right bottom ,rgb(124, 239, 225), #c89666);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-weapper{
  background-color: rgb(69, 205, 38);
  min-height: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px rgb(154, 192, 19);
  margin-bottom: 10px;
}

.header h1{
  color:#fff;
  text-align: center;
  margin: 30px 0;
  
}

.task-input{
  outline: none;
  width: 260px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color:#ccc;
  background-color: #000000;
  border: 1px solid #c89666;
  border-radius: 10px;
}

.button-add{
  width: 100px;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 80px;
  border: 0;
  background-color:rgb(18, 82, 68);
  color: rgb(39, 176, 39);
  cursor: pointer;
}

.btn{
  width: 120px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 80px;
  border: 0;
  background-color:red;
  color: white;
  cursor: pointer;
  margin: 1px; 
}

.btn-Remove{
  width: 120px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 80px;
  border: 0;
  background-color:rgb(54, 97, 38);
  color: white;
  cursor: pointer;
  margin: 1px;
}
.btn-Remove:hover {
  color: red;
}

.btn-All{
  width: 120px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 80px;
  border: 0;
  background-color:rgb(26, 180, 113);
  color: white;
  cursor: pointer;
  margin: 1px;
  
  
}
.btn-All:hover {
  color: red;
}

@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}


.btn-Active{
  width: 120px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 80px;
  border: 0;
  background-color:rgb(108, 220, 23);
  color: white;
  cursor: pointer;
  margin: 1px;
}

.btn-Active:hover {
  color: rgb(111, 23, 89);
}


.btn-Completed{
  width: 120px;
  padding: 10px 10px;
  font-size: 15px;
  border-radius: 80px;
  border: 0;
  background-color:rgb(145, 69, 103);
  color: white;
  cursor: pointer;
  margin: 1px;
}

.btn-Completed:hover {
  color: rgb(34, 223, 56);
}


.list-item{
  display: flex;
  margin: 20px 0;
  border: 1px solid,#ccc;
  border-radius: 10px;
  padding: 10px;
  max-height: 30px;
}
.todo-list{
  display: flex;
}

.button-complete,
.button-delete,
.button-edit{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  border-right: 50%;
}

.button-complete{
  color:#b71d84;
  margin-right: 10px;
}

.button-delete{
  color:rgb(42, 37, 184);
}

.button-edit{
  color:black;
  margin-right: 10px;
}

.completed{
  text-decoration-style: solid;
  text-decoration: line-through;
  text-decoration-color:#ff6c6c;
  
 }

.list{
  width: 220px;
  border: none;
  background-color:#12343b;
  color:#ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus{
  outline: none;
}